body {
  color: #333;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.right {
  color: red;
  font-weight: bold;
}

.left {
  color: blue;
  font-weight: bold;
}

.derivation {
  border: black solid 1px;
}

.phrase {
  font-weight: bold;
}

.step {
  margin: 0;
}

h3 {
  margin-bottom: 0;
}